@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400&display=swap');


body {
    font-family: 'Libre Franklin', sans-serif;
}

.border-bottom {
    border-bottom: 1px solid #57565624;
}


.message {
    max-width: max-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 100% 100%, 75% 100%, 11% 100%, 10% 12%);
}


.chats {
    background-image: url(./images/wallpaper.png);    
}