@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.border-bottom {
    border-bottom: 1px solid #57565624;
}


.sidebar {
    overflow-x: visible;
}


.chats {
    background-image: url(./images/wallpaper.png);  
    height: calc(100vh - 153px);  
    overflow-y: scroll;
}


.owner {
    flex-direction: row-reverse;    
}


.owner .txt {
    background-color: #d9fdd3;
    color: white;   
    border-radius: 8px 0 8px 8px;
}


.ft-btn {
    border: 2px solid #77d7c8;
}


.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}


.home-container {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}


.left-border {
    border-left: 1px solid rgb(212, 212, 212);
}




